
body
{
    background-color: white;
    font-family: "Poppins", sans-serif;
}

li
{
    font-size: 14px;
}


.nav-item
{
    margin-right: 30px;
    transition: all 0.5;
    position: relative;
}

.navbar .nav-item .nav-link
{
    color: white;
}

.navbar-toggler:focus
{
    outline: none;
    box-shadow: none;
}

.logo
{
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 1px;
}

h1, h2, h3, h4, h5, h6,.logo {
    font-family: "Montserrat", sans-serif;
}
p {
    line-height: 1.6;
    margin: 0;
    font-size: 15px;
    color: #748182;
}

.nav-item ::before 
{
    content: "";
    position: absolute;
    left: 0;
    bottom: 6px;  
    width: 0%;
    height: 2px; 
    background-color: white;
    transition: width 0.5s ease; 
}

.nav .nav-item ::before 
{
    content: "";
    position: absolute;
    left: 0;
    bottom: 4px;  
    width: 0%;
    height: 3px; 
    background-color: black;
    transition: width 0.5s ease; 
    transform: translateX(20%) ;
}
  

.start-5
{
    margin-top: 10px;
    left: 5%;
}

.nav-item .active::before 
{
    content: "";
    position: absolute;
    left: 0;
    bottom: 6px;  
    width: 100%;
    height: 2px; 
    background-color: white;
    transition: width 0.3s ease; 
}

.nav .nav-item .active::before 
{
    content: "";
    position: absolute;
    left: 0;
    bottom: 4px;  
    width: 70%;
    height: 3px; 
    background-color: black;
    transition: width 0.3s ease; 
    transform: translateX(20%) ;
}

.navbar-nav
{
    position: relative;
    right: 10%;
}

.navbar 
{
    background-color: rgba(0, 0, 0, 0.3);
    padding-bottom: 20px;
    
}

.navbar-toggler-icon
{
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    background-image: var(--bs-navbar-toggler-icon-bg);


}
.bg-image
{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.6)),url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
}
.fs-0
{
    font-size: 50px;
    font-weight: 800;
}

.anime .title
{
    font-size: 60px;
    font-weight: 100;
}

.anime .title::after
{
    content: "|";
    animation-name: text ;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    font-size: 60px;
    font-weight: 500;
}

.icons .icon
{
    font-size: 13px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    color: white;
    background-color: rgba(0,0,0,0.4);
}

.progress
{
    margin-top: 35px;
    height: 25px;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15) inset;
}


.progress .progress-bar p
{
    font-size: 13px;
}

.pro-color
{
    background-color: #1C1C1C;
    
}

.buttons .cv
{
    background-color: #1C1C1C;
    font-size: 13px;
    padding: 32px;
    padding-block: 10px;
    border: 1px solid #1C1C1C;
    color: white ;
    
}
.buttons .contact
{
    color: #1C1C1C;
    border: 1px solid #1C1C1C;
    background-color: transparent;
    font-size: 13px;
    padding: 32px;
    padding-block: 10px;
    transition: all 0.5s;
}

.buttons .cv:hover
{
    background-color:white;
    color: #1C1C1C;
}

.buttons .contact:hover
{   
    background-color: #1C1C1C;
    color: white;
}

.image
{   
    margin-top: 50px;
    width: 80%;
}


.hero-img:after {
    content: "";
    width: 80%;
    height: 80%;
    position: absolute;
    left: 25px;
    bottom: -30px;
    background-image: url(../images/dots.png);
    background-repeat: repeat;
    z-index: -1;
}


.head-about h1
{
    font-weight: 800;
}

.sub-title
{
    font-size: 14px;
    color: #999;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.text .name
{
    font-weight: 800;
}

.head-pos
{
    top: 80px;
    
}

.fs-header
{
    font-size: 40px;
    font-weight: 800;
    color: #343434;
}


.s2-header h1
{
    position: relative;
    z-index: 2;
    
}


.s2-header h1:after 
{
    content: "";
    width: 100%;
    height: 30px;
    background-image: url(../images/dots.png);
    background-repeat: repeat;
    position: absolute;
    bottom: -5px;
    left: 0px;
    z-index: -1;
}

.pos
{
    top: 80px;
}
.pos2
{
    top: 150px;
}
.pos5
{
    top: 150px;
}

.pos-taps
{
    top: 50px;
}
.p-tabs
{
    padding: 200px;
}

.navs .nav-item .active
{
    background-color: transparent;
}
.navs .nav .nav-item button
{
    color: black;
    font-weight: 800;
    font-size: 15px;
}

.icon
{
    transition: 0.5s;
    
}

.card:hover .border-icon
{
    color: white;
    background-color: black;
    border-color: #CDE1F8;
    transition: 0.5s;
}

.border-icon
{
    color: #343434;
    background-color: #F7F7F7;
    height: 70px;
    width: 70px;
    
}

.card
{
    padding-block: 20px;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.serv
{
    position: relative;
    top: 100px;
    background-color: #F7F7F7;
    padding-bottom: 90px;
    
}

.services
{
    padding: 90px;
    padding-top: 0;
}

.fw-head-card
{
    color: #343434;
    font-weight: 800;
    font-size: 18px;
}

.navs-image
{
    overflow: hidden;
}

.layer
{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.0;
    margin: 5px;
    background-color: white;
    transition: all 0.5s;
    
    transform: translateY(10px);
}

.navs-image .icons .icon
{
    background-color: black;
    transition: all 0s;
    width: 30px;
    height: 30px;
    font-size: 11px;
    
}
.navs-image .icons 
{
    transform: translateY(10px);
    transition: all 0.5s;
}

.navs-image .icons .icon:hover
{
    color: black;
    border: 1px solid black;
    background-color: white;
}

.navs-image .layer .para h6
{
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    position: relative;
    
}
.navs-image .layer .para
{
    transform: translateY(-20px);
    transition: all 0.5s;
}

.navs-image .layer:hover 
{
    transform: translateY(0px);
    opacity: 0.9;
}

.navs-image .layer:hover .icons 
{
    transform: translateY(0px);
    opacity: 0.9;
}

.navs-image .layer:hover .para 
{
    transform: translateY(0px);
    opacity: 0.9;
}
.pos-img-parent
{
    
    padding-bottom: 40px;
}


.pos11
{
    position: relative;
    bottom: 50px;
}

.bg-img-2
{

    padding-top: 100px;
    padding-bottom: 10px;
    
}

.w-txt-slider
{
    width: 65%;
}
.pos-6
{
    top: 350px;
}

.pos2
{
    top: 80px;
}
.pos10
{
    top: 150px;
}
.clients
{
    background-color: #F7F7F7;
    
}
.clients img
{
    width: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    top: 35px;
}

.clients p
{
    color: #888;
}

.clients span {
    font-size: 12px;
    font-weight: 600;
    color: #888;
    margin-bottom: 30px;
}
.clients h6 
{
    font-size: 16px;
    font-weight: 600;
    margin: 30px 0 5px;
}
.carousel-indicators [data-bs-target] 
{
    background-color: #888;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.5s;
    border: 0;

}

.ci
{
    position: relative;
    bottom: 50px;
}


.icons-info
{
    position: relative;
    top: 100px;
    margin-bottom: 100px;
}

.icons-info .icon
{
   font-size: 30px;
}

.icons-info .container
{
    padding-left: 60px;
    padding-right: 60px;
}

.icons-info .card
{
    padding: 20px;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.0);

}

.icons-info h2
{
    font-size: 30px;
    font-weight: 800;
    color: #343434;
}

.icons-info p
{
    font-size: 15px;
    font-weight: 600;
}

.team
{
    background-color: #F7F7F7;
    padding-bottom: 240px;

    
}

.team .container
{
    padding-left: 100px;
    padding-right: 100px;
}

.team .info
{
    text-align: center;
    color: white;

    
   
}

.team .info h4
{
    font-size: 20px;
    
}

.team .info h5
{
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 40px;
}

.team .card
{
    background-color: #5B5B5B;
    overflow: hidden;
    transition: all 0.5s;
}

.team .image-container
{
    overflow: hidden;
}




.team .image-container .layer2
{
    position: absolute;
    top: 80px;
    right: 80px;
    left: 80px;
    bottom: 80px;
    background-color: white;
    margin: 5px;
    opacity: 0.0;
    transform: rotateY(180deg);
    transition: all 0.5s;
    z-index: 55;

    
}
.team .card:hover .layer2
{
    opacity: 0.9;
    transform: rotateY(360deg);
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    transition: all 0.5s;

}

.team .image-container .team-image
{
    transition: all 0.4s;
}


.image-container:hover .team-image
{
    transform: scale(1.2);
    
}






.team .icons .icon i
{
    font-size: 18px;
}
.team .icons .icon
{
    background-color: black;
    transition: all 0.7s;
    width: 40px;
    height: 40px;
    font-size: 11px;
    margin-right: 5px;
    
}
.team .icons
{
    transition: all 0.7s;
    transform: scale(0.5);
}


.team .card:hover .icons
{
    transform: scale(1);
}

.team .icons .icon:hover
{
    color: black;
    border: 1px solid black;
    background-color: white;
}



.contact .icon
{
    background-color: #F7F7F7;
    border-radius: 50%;
    color: #343434;
    width: 60px;
    height: 60px;
    font-size: 25px;
}

.contact .iconw:hover .icon
{
    background-color: black;
    color: white;
}

.contact .c1 
{
    padding-left: 130px;
    padding-right: 130px;
}


.contact .card h6
{
    font-weight: 700;
}

.contact .card p
{
    font-weight: 400;
}
.pos-7
{
    top: 0px;
}

.pos7
{
    position: relative;
    bottom: 50px;
}

.pos-8
{
    position: relative;
    bottom: 30px;
}
.pos-9
{
    position: relative;
    bottom: 35px;
}
.form-control:focus {
    border-color: none;
    box-shadow: none;
    outline: none;
    background-color: #F4F4F4;
    
}
.form-control
{
    border: 0 ;
    background-color: #F4F4F4;
    padding-block: 10px;
}
.form-control::placeholder {
    color: #748182; 
    font-size: 14px;
}

.contact .btn
{
    background-color: #1C1C1C;
    color: white;
    border: 1px solid #1C1C1C;
    font-size: 13px;
    padding: 32px;
    padding-block: 10px;
    transition: all 0.5s;

}
.contact .btn:hover
{
    background-color: white;
    color: #1C1C1C;
}
.footer
{
    background-color: #1C1C1C;
    padding-block: 30px;
    
}

.footer p
{
    font-size: 14px;
    
}
@keyframes text {


    


    0%{content: "D|";}         
    1%{content: "De|";}        
    2%{content: "Des|";}       
    3%{content: "Desi|";}          
    4%{content: "Desig|";}             
    5%{content: "Design|";}            
    6%{content: "Designe|";}                   
    7%{content: "Designer|";}          
    15%{content: "Designer|";}              
    16%{content: "Designe|";}               
    17%{content: "Design|";}                    
    18%{content: "Desig|";}                 
    19%{content: "Desi|";}                  
    20%{content: "Des|";}                   
    21%{content: "Des|";}       
    22%{content: "De|";}            
    23%{content: "D|";}         
    24%{content: "|";}          
    
    30% { content: "D|"; }
    31% { content: "De|"; }
    32% { content: "Dev|"; }
    33% { content: "Deve|"; }
    34% { content: "Devel|"; }
    35% { content: "Develop|"; }
    36% { content: "Develope|"; }
    37% { content: "Developer|"; }
    52% { content: "Developer|"; }
    53% { content: "Develope|"; }
    54% { content: "Develop|"; }
    55% { content: "Devel|"; }
    56% { content: "Deve|"; }
    57% { content: "Dev|"; }
    58% { content: "De|"; }
    59% { content: "D|"; }
    60% { content: "|"; }
    
    
    65% { content: "L|"; }
    66% { content: "La|"; }
    67% { content: "Lar|"; }
    68% { content: "Larr|"; }
    69% { content: "Larry|"; }
    70% { content: "Larry |"; }
    71% { content: "Larry D|"; }
    72% { content: "Larry Da|"; }
    73% { content: "Larry Dan|"; }
    74% { content: "Larry Dani|"; }
    75% { content: "Larry Danie|"; }
    76% { content: "Larry Daniel|"; }
    77% { content: "Larry Daniels|"; }
    82% { content: "Larry Daniels|"; }
    83% { content: "Larry Daniel|"; }
    84% { content: "Larry Danie|"; }
    85% { content: "Larry Dani|"; }
    86% { content: "Larry Dan|"; }
    87% { content: "Larry Da|"; }
    88% { content: "Larry D|"; }
    89% { content: "Larry |"; }
    90% { content: "Larry|"; }
    91% { content: "Larr|"; }
    92% { content: "Lar|"; }
    93% { content: "La|"; }
    94% { content: "L|"; }
    95% { content: "|"; }
    96% { content: "|"; }
    97% { content: "|"; }
    98% { content: "|"; }
    99% { content: "|"; }
    100% { content: "|"; }

    
}
@media all and (max-width: 576px){
    .fs-0
    {
        font-size: 40px;
        font-weight: 800;
    }

    .anime .title
    {
        font-size: 40px;
        font-weight: 100;
    }
    .anime .title::after
    {

        font-size: 40px;
        font-weight: 500;
    }
    .start-5
    {
        margin-top: 10px;
        left: 5%;
    }
    .services
    {
        padding: 15px;
        padding-top: 0;
    }
    .navs-image 
    {
        margin-bottom: 100px;
        margin-left: 30px;
        margin-right: 30px;
    }
    .p-tabs
    {
        padding-left: 0;
        padding-right: 0;
    }
    .serv
    {
        padding-bottom: 200px;
        margin-bottom: 100px;
    }
    .w-txt-slider
    {
        width: 400px;
    }
    .card-m-row
    {
        margin-top: 5px;
    }

    .team .container
    {
        padding-left: 10px;
        padding-right: 10px;
    }
    .contact .c1 
    {
        padding-left: 10px;
        padding-right: 10px;
    }
    .contact .c2
    {
        padding-left: 0;
        padding-right: 0;
    }
    .pos-8
    {
        margin-left: 5px;
    }

    .navbar .nav-item .nav-link
    {
        color: black;
        margin-bottom: 10px;
    }
    .navbar .navbar-nav
    {
        width: 100%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media all and (min-width: 576px) and (max-width: 768px )
{
    .services
    {
        padding: 15px;
        padding-top: 0;
       
    }
    .p-tabs
    {
        padding-left: 50px;
        padding-right: 50px;
        
    }
    .serv
    {
        padding-bottom: 200px;
        margin-bottom: 100px;
    }
    .navs-image
    {
        margin-bottom: 100px;
        margin-left: 25px;
        margin-right: 25px;
    }
    .card-m-row
    {
        margin-top: 5px;
    }
    .team .container
    {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .contact .c1 
    {
        padding-left: 10px;
        padding-right: 10px;
    }
    .contact .c2
    {
        padding-left: 0;
        padding-right: 0;
    }
    .pos-8
    {
        margin-left: 5px;
    }
    .navbar .nav-item .nav-link
    {
        color: black;
        margin-bottom: 10px;
    }
    .navbar .navbar-nav
    {
        width: 100%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}


@media all and (min-width: 768px) and (max-width: 992px  )
{

    .services
    {
        padding: 15px;
        padding-top: 0;
    }
    .p-tabs
    {
        padding-left: 50px;
        padding-right: 50px;
        
    }
    .serv
    {
        padding-bottom: 200px;
        margin-bottom: 100px;
    }
    .navs-image
    {
        margin-bottom: 100px;
        margin-left: 70px;
        margin-right: 70px;
    }
    .card-m-row
    {
        margin-top: 5px;
    }

    .contact .c1 
    {
        padding-left: 10px;
        padding-right: 10px;
    }
    .contact .c2
    {
        padding-left: 0;
        padding-right: 0;
    }
    .pos-8
    {
        margin-left: 5px;
    }
    
    .navbar .nav-item .nav-link
    {
        color: black;
        margin-bottom: 10px;
    }
    .navbar .navbar-nav
    {
        width: 100%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

}



@media all and (min-width: 992px) and (max-width: 1200px  ){
    
    .image
    {   
        position: relative;
        left: 10%;
    }


    .hero-img:after {
        content: "";
        width: 80%;
        height: 80%;
        position: absolute;
        left: 45px;
        bottom: -30px;
        background-image: url(../images/dots.png);
        background-repeat: repeat;
        z-index: -1;
    }
    
    .start-5
    {
        margin-top: 10px;
        left: 5%;
    }
    .services
    {
        padding: 15px;
        padding-top: 0;
       
    }
    .p-tabs
    {
        padding-left: 100px;
        padding-right: 100px;
    }
    .serv
    {
        padding-bottom: 200px;
        margin-bottom: 100px;
    }
    .team .icons
    {
        transition: all 0.7s;
        transform: scale(0.5);
    }


    .team .card:hover .icons
    {
        transform: scale(0.8);
    }
    .contact .c1 
    {
        padding-left: 10px;
        padding-right: 10px;
    }
    .contact .c2
    {
        padding-left: 0;
        padding-right: 0;
    }
    .pos-8
    {
        margin-left: 5px;
    }
}


@media all and (min-width: 1200px) {
    
    .image
    {   
        position: relative;
        left: 10%;
    }


    .hero-img:after {
        content: "";
        width: 80%;
        height: 80%;
        position: absolute;
        left: 75px;
        bottom: -30px;
        background-image: url(../images/dots.png);
        background-repeat: repeat;
        z-index: -1;
    }
    .start-5
    {
        margin-top: 10px;
        left: 13%;
    }

    
}